@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #D6D6D6;
  --font-body: "RoobertTRIAL", sans-serif;
  --font-display: "TWKLausanne", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-display);
  --font-body: var(--font-body);
}


body {
  width: 100vw;
  height: 100%;
  font-family: var(--font-body);
  overflow-x: hidden;
}
.font-display{
  font-family: var(--font-display);
}
